* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: 800px;
}

.grid-element {
    height: 6.05%;
    flex: 0 0 6.05%;

    background-color: #000;
    padding: 0;
    margin: 0.1%;
}

.grid-element:nth-child(32n) {
    background-color: cyan;
}